body {
    font-family: sans-serif;
}
header{
    height: 150px;
    background-image: url('https://learn.logikaschool.com/uploads/student/621028/52-1637316471.jpg');
}
h1 {
    text-align: center;
    color: green;
    padding: 30px;
    font-size: 50px;
}
.logo{
    position: absolute;
    width: 100px;
    height: 100px;
}
main{

background-image: linear-gradient(green, white);
}
